{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Tivo is a HTML landing page template built with Bootstrap to help you crate engaging presentations for SaaS apps and convert visitors into users.">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>zazinmori</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/fontawesome-all.css' %}" rel="stylesheet">
    <link href="{% static 'css/swiper.css' %}" rel="stylesheet">
	<link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
	<link href="{% static 'css/styles.css' %}" rel="stylesheet">

	<!-- Favicon  -->
    <link rel="icon" href="{% static 'img/favicon.png' %}">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Hicharts -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/networkgraph.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

</head>
<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container">

            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <a href="/"><img style="width:30px; height:30px; margin-top: -5px;" src="{% static 'img/logo_w.png' %}"></a>
            <h3 class="fw-bold text-white pointer" onclick="to_home()">zazinmori</h3>

            <!-- Mobile Menu Toggle Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-awesome fas fa-bars"></span>
                <span class="navbar-toggler-awesome fas fa-times"></span>
            </button>
            <!-- end of mobile menu toggle button -->

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    {% if not context.user_email %}
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="/">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="/company/">SEARCH</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="/community/">COMMUNITY</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="/mypage/">MYPAGE</a>
                        </li>
                    {% endif %}
                </ul>
                <span class="nav-item">
                    {% if not context.user_email %}
                        <a class="btn-outline-sm" href="/login/">LOG IN</a>
                    {% else %}
                        <a class="btn-outline-sm" href="/logout/">LOG OUT</a>
                    {% endif %}
                </span>
            </div>
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->



    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="form" style="margin-top: -100px; margin-bottom: -100px;">
                <div class="container mt-0 pt-0">
                    <div class="row mt-0 pt-0">
                        <div class="col-lg-12">
                            <div class="text-container">
                                <div class="above-heading">Search Company</div>
                                <h2 class="wk"><span class="f-c3">자</span>기소개서를 <span class="f-c3">진</span>짜 <span class="f-c3">모</span>르는 <span class="f-c3">리</span>들을 위한</h2>
                                <!-- Newsletter Form -->
                                <form id="newsletterForm" data-toggle="validator" data-focus="false">
                                    <div class="form-group">
                                        <input type="text" class="form-control-input" id="search_input" onkeyup="if(window.event.keyCode==13){search()}">
                                        <label class="label-control" for="search_input">회사명을 입력하세요</label>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" onclick="search()" class="form-control-submit-button">검색하기</button>
                                    </div>
                                    <div class="form-message">
                                        <div id="nmsgSubmit" class="h3 text-center hidden"></div>
                                    </div>
                                </form>
                                <!-- end of newsletter form -->
                            </div> <!-- end of text-container -->
                        </div> <!-- end of col -->
                    </div> <!-- end of row -->
                </div> <!-- end of container -->
            </div> <!-- end of form -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <svg class="header-frame" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1920 310"><defs><style>.cls-1{fill:#5f4def;}</style></defs><title>header-frame</title><path class="cls-1" d="M0,283.054c22.75,12.98,53.1,15.2,70.635,14.808,92.115-2.077,238.3-79.9,354.895-79.938,59.97-.019,106.17,18.059,141.58,34,47.778,21.511,47.778,21.511,90,38.938,28.418,11.731,85.344,26.169,152.992,17.971,68.127-8.255,115.933-34.963,166.492-67.393,37.467-24.032,148.6-112.008,171.753-127.963,27.951-19.26,87.771-81.155,180.71-89.341,72.016-6.343,105.479,12.388,157.434,35.467,69.73,30.976,168.93,92.28,256.514,89.405,100.992-3.315,140.276-41.7,177-64.9V0.24H0V283.054Z"/></svg>
    <!-- end of header -->


    <!-- Search Result -->
    <div id="main_1" class="basic-1" style ="visibility: hidden;">
        <div class="container" style="margin-top:-100px;">
            <div class="row">
                <div class="col-lg-12" >
                    <div class="text-container">
                        <br>
                        <h2 class="text-center m-2 p-2">검색결과</h2>
                        <div style="height: 1px; margin-top: 1.75rem; margin-bottom: 3.5rem; border: none; background-color: #ccd3df;"></div>
                        <div id="search_section">
                            <table id="search_result" style="width:100%"></table>
                        </div>
                        <br><br>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of Search Result -->



    <!-- Corporation Detail -->
    <div id="main_2" class="basic-2 mb-5 display-none" style="visibility: hidden; margin-top:-100px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" id="detail_section">
                    <!-- Row1 -->
                    <div class="row">
                        <div class="col-5">
                            <div class="card text-bg-light mb-3">
                              <div class="card-header font-weight-bold f-c0 bg-c4">회사 기본 정보</div>
                              <div class="card-body">
                                <table class="table table-hover" style="table-layout:fixed;">
                                    <tr>
                                        <th class="abbr" style="width: 25%;" title="회사명">회사명</th>
                                        <td class="detail_td abbr" id="corp_nm_td"></td>
                                    </tr>
                                    <tr>
                                        <th class="abbr" style="width: 25%;" tilte="설립일">설립일</th>
                                        <td class="detail_td abbr" id="est_dt_td"></td>
                                    </tr>
                                    <tr>
                                        <th class="abbr" style="width: 25%;" title="업종">업종</th>
                                        <td class="detail_td abbr" id="category_td"></td>
                                    </tr>
                                    <tr>
                                        <th class="abbr" style="width: 25%;" title="대표자">대표자</th>
                                        <td class="detail_td abbr" id="ceo_nm_td"></td>
                                    </tr>
                                    <tr>
                                        <th class="abbr" style="width: 25%;" title="소재지">소재지</th>
                                        <td class="detail_td abbr" id="address_td"></td>
                                    </tr>
                                    <tr>
                                        <th class="abbr" style="width: 25%;" title="전화">전화</th>
                                        <td class="detail_td abbr" id="phn_no_td"></td>
                                    </tr>
                                </table>
                              </div>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="card text-bg-light mb-3">
                              <div class="card-header font-weight-bold f-c0 bg-c4">회사 재무 정보</div>
                              <div class="card-body">
                                  <table class="table table-hover" style="table-layout:fixed;">
                                      <tr>
                                          <th>기준연도</th>
                                          <td class="detail_td abbr" id="year_td"></td>
                                      </tr>
                                      <tr>
                                          <th>매출액</th>
                                          <td class="detail_td abbr" id="total_sales_td"></td>
                                      </tr>
                                      <tr>
                                          <th>자산총계</th>
                                          <td class="detail_td abbr" id="total_assets_td"></td>
                                      </tr>
                                      <tr>
                                          <th>자본총계</th>
                                          <td class="detail_td abbr" id="total_capital_td"></td>
                                      </tr>
                                      <tr>
                                          <th>부채총계</th>
                                          <td class="detail_td abbr" id="total_debt_td"></td>
                                      </tr>
                                      <tr>
                                          <th>영업이익</th>
                                          <td class="detail_td abbr" id="operating_income_td"></td>
                                      </tr>
                                  </table>
                              </div>
                            </div>
                        </div>
                    </div><!-- End Row1-->
                    <br>

                    <!-- Row2 -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card text-bg-light mb-3">
                              <div class="card-header font-weight-bold f-c0 bg-c4">합격 자소서 분석을 통한 키워드 추천</div>
                              <div class="card-body">
                                <div class="row">
                                    <div id="cv_head" class="col-12 text-center">
                                    </div>                                            
                                </div>
                                <div id="cv_result" class="row">
                                    <div class="col-6 p-3">
                                        <div id="network_container" style="min-width:320px;max-width:500px;margin:0 auto;height:500px;"></div>
                                    </div>
                                    <div class="col-6 overflow-hidden my-auto">
                                        <figure class="highcharts-figure">
                                            <div id="bar_container"></div>
                                        </figure>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div><!-- End Row2-->
                    <br>

                    <!-- Row3 -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card text-bg-light mb-3">
                              <div class="card-header font-weight-bold f-c0 bg-c4">최신 뉴스 분석을 통한 키워드 추천</div>
                              <div class="card-body" style="overflow:auto; max-height:32rem;;">
                                <ul id="corp_news_list" class="list-unstyled li-space-lg p-3">
                                </ul>
                               </div>
                            </div>
                        </div>
                    </div><!-- End Row3-->
                    <br>

                    <!-- Row4 -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card text-bg-light mb-3">
                              <div class="card-header font-weight-bold f-c0 bg-c4">채용 정보</div>
                              <div class="card-body">
                                <table class="table table-hover" id="recruit_table">
                                </table>
                              </div>
                            </div>
                        </div>
                    </div><!-- End Row4-->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-2 -->
    <!-- end of Corporation Detail -->


    <!--Modal for Recruiting-->
    <div class="modal" id="recruit_modal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 id="jobposting_title" class="modal-title modal_erase"></h5>
                  <div style="float: right;">
                    {% if not context.user_email %}
                    {% else %}
                        <button type="button" class="btn btn-secondary" onclick="scrap()" data-bs-dismiss="modal">채용공고 스크랩</button>
                    {% endif %}
                        <button type="button" class="btn btn-light btn-close" onclick="close_modal()" data-bs-dismiss="modal">X</button>
                  </div>
                </div>
                <div class="modal-body">
                  <div class="row mx-auto" style="width:95%">
                    <table class="table table-hover" id="modal_joblist" style="width:100%;"></table>
                  </div>
                  <div class="row mx-auto" style="width:95%">                 
                    <div id="modal_main"></div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-dark" onclick="close_modal()" data-bs-dismiss="modal">Close</button>
                </div>
                <div id="hidden_jobposting_id" style="width:0; height:0;"></div>
              </div>
        </div>
    </div>
    <!-- end of Modal -->


    <!-- Footer -->
    <svg class="footer-frame mt-5" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1920 79"><defs><style>.cls-2{fill:#5f4def;}</style></defs><title>footer-frame</title><path class="cls-2" d="M0,72.427C143,12.138,255.5,4.577,328.644,7.943c147.721,6.8,183.881,60.242,320.83,53.737,143-6.793,167.826-68.128,293-60.9,109.095,6.3,115.68,54.364,225.251,57.319,113.58,3.064,138.8-47.711,251.189-41.8,104.012,5.474,109.713,50.4,197.369,46.572,89.549-3.91,124.375-52.563,227.622-50.155A338.646,338.646,0,0,1,1920,23.467V79.75H0V72.427Z" transform="translate(0 -0.188)"/></svg>
    <!-- end of footer -->


    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">
                        Copyright © 2022<br>Team Ikuzo
                    </p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright -->
    <!-- end of copyright -->


    <!-- Scripts -->
    <script src="{% static 'js/jquery.min.js' %}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="{% static 'js/popper.min.js' %}"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script> <!-- Bootstrap framework -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="{% static 'js/swiper.min.js' %}"></script> <!-- Swiper for image and text sliders -->
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script> <!-- Magnific Popup for lightboxes -->
    <script src="{% static 'js/validator.min.js' %}"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="{% static 'js/scripts.js' %}"></script> <!-- Custom scripts -->
</body>

<!--***********************************************-->
<!--********************script*********************-->
<!--***********************************************-->

<script>

    window.onload=function(){
        window.scrollTo(0, 0);
    }

    window.onbeforeunload=function(){
        window.scrollTo(0, 0);
    }

    function to_home(){
        document.location = '/';
    }

    function to_login(){
      if(confirm("로그인 후에 서비스를 이용할 수 있습니다.")) document.location = '/login/';
    }


    var corp_list;


    function search(){
        var search_input = document.getElementById('search_input').value;
        console.log(search_input);

        if(search_input == ''){
          alert('검색하려는 회사명을 입력해주세요.')
          return
        }

        $.ajax({
            url: '/company/',
            type: 'POST',
            data: {'corp_nm': search_input, 'csrfmiddlewaretoken':  csrftoken},
            dataType: 'json',
            success: function(context) {
              console.log('success')
              //console.log(context)

              corp_list = context['corp_result']

              document.getElementById("main_1").scrollIntoView(true);
              document.getElementById("main_1").setAttribute('style', '"visibility: visible;"');
              $('#search_result').remove();

              var $table = $('<table class="table table-hover" id="search_result" style="width:100%; table-layout:fixed;"></table>');
              $('#search_section').append($table);
              var $tr = $('<thead class="table-dark"><tr id="table_ths" class="text-center"></tr></thead>');
              $('#search_result').append($tr);

              var corp_num = context.corp_num;
              if (corp_num == 0){
                var $th = $('<th style="width:100%"">검색 결과가 없습니다.</th>');
                $('#table_ths').append($th);
              } else {
                var $th = $('<th style="width: 20%;">회사명</th>');
                $('#table_ths').append($th);
                var $th = $('<th style="width: 20%;">업종</th>');
                $('#table_ths').append($th);
                var $th = $('<th style="width: 10%;">대표자명</th>');
                $('#table_ths').append($th);
                var $th = $('<th style="width: 15%;">설립일</th>');
                $('#table_ths').append($th);
                var $th = $('<th style="width: 35%;">소재지</th>');
                $('#table_ths').append($th);

                var $tbody = $('<tbody></tbody>');
                $('#search_result').append($tbody)

                for (var i=0; i<corp_num; i++) {
                  var $tr = $('<tr class="text-center">');
                  $('#search_result > tbody').append($tr);

                  //var keys = Object.keys(context.corps);
                  var corp_nm = context.corp_result[i]['corp_nm']
                  var category = context.corp_result[i]['category']
                  var ceo_nm = context.corp_result[i]['ceo_nm']
                  var est_dt = context.corp_result[i]['est_dt']
                  var address = context.corp_result[i]['address']
                  var regi_code = context.corp_result[i]['regi_code']

                  var $th = $(`<th class="pointer abbr" onclick="corp_detail(${i})" title="${corp_nm}">${corp_nm}</th>`);
                  $tr.append($th);
                  var $td = $(`<td class="search_td abbr" onclick="corp_detail(${i})" title="${category}">${category}</td>`);
                  $tr.append($td);
                  var $td = $(`<td class="search_td abbr" onclick="corp_detail(${i})" title="${ceo_nm}">${ceo_nm}</td>`);
                  $tr.append($td);
                  var $td = $(`<td class="search_td abbr" onclick="corp_detail(${i})" title="${est_dt}">${est_dt}</td>`);
                  $tr.append($td);
                  var $td = $(`<td class="search_td abbr" onclick="corp_detail(${i})" title="${address}">${address}</td>`);
                  $tr.append($td);
                }
              }

              var search_tds = document.getElementsByClassName("search_td");
              for (var i=search_tds.length; i--;){
                if (search_tds[i].textContent == 'null'){
                    search_tds[i].textContent = '-';
                }
              }


            },
            error: function(){
              console.log('fail')
            }
        }); //ajax끝
  }




  function corp_detail(index){
    document.getElementById("main_2").classList.remove('display-none');
    document.getElementById("main_2").setAttribute('style', '"visibility: visible;"');
    document.getElementById("main_2").scrollIntoView(true);

    var detail_tds = document.getElementsByClassName("detail_td")
    for (var i=detail_tds.length; i--;){
        detail_tds[i].textContent='';
    }

    var keys = Object.keys(corp_list);

    <!-- 기업 기본 정보 -->
    var corp_nm = corp_list[index]['corp_nm']
    var est_dt = corp_list[index]['est_dt']
    var category = corp_list[index]['category']
    var ceo_nm = corp_list[index]['ceo_nm']
    var address = corp_list[index]['address']
    var phn_no = corp_list[index]['phn_no']
    var regi_code = corp_list[index]['regi_code']

    $('#corp_nm_td').text(corp_nm)
    $('#est_dt_td').text(est_dt)
    $('#category_td').text(category)
    $('#ceo_nm_td').text(ceo_nm)
    $('#address_td').text(address)
    $('#phn_no_td').text(phn_no)


    <!-- 기업 재무 정보 -->s
    var year = corp_list[index]['year']
    var total_sales = corp_list[index]['total_sales']
    var total_assets = corp_list[index]['total_assets']
    var total_capital = corp_list[index]['total_capital']
    var total_debt = corp_list[index]['total_debt']
    var operating_income = corp_list[index]['operating_income']
    //당기순이익 var net_income = context['com_finance']['net_income'] /

    if( !year ){
        $('#year_td').text('해당 기업의 정보가 없습니다.')
        $('#total_sales_td').text('해당 기업의 정보가 없습니다.')
        $('#total_assets_td').text('해당 기업의 정보가 없습니다.')
        $('#total_capital_td').text('해당 기업의 정보가 없습니다.')
        $('#total_debt_td').text('해당 기업의 정보가 없습니다.')
        $('#operating_income_td').text('해당 기업의 정보가 없습니다.')
    } else{
        $('#year_td').text(year)
        $('#total_sales_td').text(`${total_sales}원`)
        $('#total_assets_td').text(`${total_assets}원`)
        $('#total_capital_td').text(`${total_capital}원`)
        $('#total_debt_td').text(`${total_debt}원`)
        $('#operating_income_td').text(`${operating_income}원`)
    }

    $.ajax({
        url: 'company_detail/',
        type: 'POST',
        data: {'regi_code': regi_code, 'csrfmiddlewaretoken':  csrftoken},
        dataType: 'json',
        success: function(context) {
          console.log('company_detail success')
          //console.log(context)
          var corp_nm = context.corp_nm

          <!-- 채용 공고 -->
          $('#recruit_table').empty()

          var recruit_num = context.recruit_num;
          if(!recruit_num){
            var $thead = $('<thead>');
            $('#recruit_table').append($thead);
            var $tr = $('<tr class="text-center">');
            $thead.append($tr);
            var $th = $('<th>현재 진행 중인 채용이 없습니다.</th>');
            $tr.append($th);
          } else{
          for (var i=0; i<recruit_num; i++){
            var $tr = $('<tr class="text-center">');
            $('#recruit_table').append($tr);
            var keys = Object.keys(context.com_recruits);
            var start_time = context.com_recruits[keys[i]]['start_time']
            var end_time = context.com_recruits[keys[i]]['end_time']
            var url = context.com_recruits[keys[i]]['url']
            var jobposting_id = context.com_recruits[keys[i]]['jobposting_id']
            //var corp_nm = context.com_recruits[keys[i]]['corp_nm']

            var $th = $(`<th>${corp_nm}</th>`);
            $tr.append($th);
            if(start_time==null|start_time=='null'){
                var $th = $(`<th>수시 채용 중입니다</th>`);
            } else{
                var $th = $(`<td>채용기간: ${start_time} ~ ${end_time}</td>`);
            }
            $tr.append($th);
            var $td = $(`<td><button type="button" onclick="posting(${jobposting_id});" class="btn btn-outline-dark mx-3">채용공고 확인</button><button type="button" onclick="apply('${url}');" class="btn btn-dark">채용지원</button></td>`)
            $tr.append($td);
            }
          }
          
          <!-- 자소서 키워드 분석 -->
          $('#network_container').empty()
          $('#bar_container').empty()
          $('#cv_head').empty()

          if(context.textcount_code == 0){
            var $p = $(`<p class="text-weight-bold text-center">해당 기업에 대한 자소서 데이터가 부족합니다</p>`);
            $('#cv_head').append($p);
          } else {
            var keyword_list = new Array();
            var frequency_list = new Array();
            
            if(context.textcount_code == 1){
                keyword_list = ['기술', '반도체', '삼성', '경험', '기업', '개발', '제품', '시장', '공정', '문제', '노력', '도전', '세계', '성장', '목표', '산업', '필요', '발전', '결과', '과정', '진행', '생산', '사용', '고객', '사회', '해결', '프로젝트', '최고', '공부', '업무', '설계', '사업', '메모리', '지식', '시작', '엔지니어', '미래', '전공', '생활', '연구', '활동', '가능', '학교', '친구', '분석', '설비', '상황', '변화', '바탕', '능력'];
                frequency_list = [3630, 3394, 2271, 2185, 2160, 2144, 1922, 1867, 1851, 1714, 1659, 1452, 1440, 1400, 1370, 1362, 1338, 1243, 1210, 1197, 1182, 1178, 1169, 1137, 1115, 1108, 1108, 1069, 1064, 1060, 1054, 1054, 1001, 998, 991, 982, 977, 969, 965, 952, 948, 924, 914, 896, 883, 883, 874, 872, 870, 856];
                console.log(keyword_list.length, frequency_list.length);
            } else {
                for (i=0; i<50; i++){
                    keyword_list[i] = context.model_result[i][0];
                    frequency_list[i] = context.model_result[i][1];
                };
            }

            var network_data = new Array();
            for (i=0; i<50; i++){
                var ith_link = new Array();
                ith_link[0] = corp_nm;
                ith_link[1] = keyword_list[i];
                network_data[i] = ith_link;
            };

            var network_nodes = new Array();
            var min = Math.min.apply(null, frequency_list);
            var max = Math.max.apply(null, frequency_list);
            var over17 = "#E8544E", over13 = "#FFD265", under13 = "#2AA775";
            for (i=0; i<50; i++){
                var ith_node = {};
                ith_node['id'] = keyword_list[i];
                var marker_size = 10*((parseInt(frequency_list[i]) - min)/(max - min)+1);
                var marker = {};
                marker['radius'] = marker_size;
                ith_node['marker'] = marker;
                if (marker_size>17){
                    ith_node['color'] = over17;
                } else if (marker_size>13){
                    ith_node['color'] = over13;
                } else {
                    ith_node['color'] = under13;
                }
                network_nodes[i] = ith_node;
            }
            network_nodes[50] = {'id': corp_nm, 'marker':{'radius': 30} }


            Highcharts.chart("network_container", {
                chart: { type: "networkgraph", marginTop: 80 },
                title: { text: `${corp_nm} 합격 자소서 단어 빈도`},
                tooltip: { formatter: function(){var info = ""; return "<b>" + this.key + "</b>: " + info;} },
                plotOptions: {
                    networkgraph: {
                    keys: ["from", "to"],
                    layoutAlgorithm: { nableSimulation: true, integration: "verlet", linkLength: 100 }
                    }
                },
                series: [
                    { marker: { radius: 13 },
                    dataLabels: { enabled: true, linkFormat: "", allowOverlap: true, style: { textOutline: false } },
                    data: network_data,
                    nodes: network_nodes
                    }
                ]
            });

            Highcharts.chart('bar_container', {
                chart: { type: 'bar' },
                title: { text: `${corp_nm} 빈도 Top10 키워드` },
                xAxis: { categories: [keyword_list[0], keyword_list[1], keyword_list[2], keyword_list[3], keyword_list[4], keyword_list[5], keyword_list[6], keyword_list[7], keyword_list[8], keyword_list[9]],
                    title: { text: null } },
                yAxis: { min: 0, title: { text: '빈도', align: 'high' }, labels: { overflow: 'justify' } }, 
                plotOptions: { bar: { dataLabels: { enabled: true } } },
                legend: { layout: 'vertical', align: 'right',  verticalAlign: 'top', x: -40, y: 250,
                    floating: true, borderWidth: 1, backgroundColor: Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
                    shadow: true },
                credits: { enabled: false },
                series: [{
                    name: '빈도',
                    data: [frequency_list[0], frequency_list[1], frequency_list[2], frequency_list[3], frequency_list[4], frequency_list[5], frequency_list[6], frequency_list[7], frequency_list[8], frequency_list[9]]
    
                }]
              });
    
              $('#graph_desc').text(`${corp_nm} 합격 자소서에서 가장 자주 사용되는 키워드입니다`)

          }      
          

          
          <!-- 뉴스 키워드 분석 -->
          $('#corp_news_list').empty();

          var news_num = context.news_num;
          if (news_num == 0){
            var $p = $(`<p class="text-weight-bold">해당 기업에 대한 뉴스 데이터가 부족합니다</p>`)
            $('#corp_news_list').append($p);
          } else {
            var keys = Object.keys(context.news_keywords);
            for (var i=0; i<news_num; i++){
                var news_title = context.news_keywords[keys[i]]['news_title']
                var news_sentence = context.news_keywords[keys[i]]['news_sentence']
                var url = context.news_keywords[keys[i]]['url']
                var keyword1 = context.news_keywords[keys[i]]['keyword1']
                var keyword2 = context.news_keywords[keys[i]]['keyword2']
                var keyword3 = context.news_keywords[keys[i]]['keyword3']
                var keyword4 = context.news_keywords[keys[i]]['keyword4']
                var keyword5 = context.news_keywords[keys[i]]['keyword5']
                var keyword6 = context.news_keywords[keys[i]]['keyword6']
                var keyword7 = context.news_keywords[keys[i]]['keyword7']
                var keyword8 = context.news_keywords[keys[i]]['keyword8']
                var keyword9 = context.news_keywords[keys[i]]['keyword9']
                var keyword10 = context.news_keywords[keys[i]]['keyword10']

                var $li = $(`<li class="p-3">`);
                $('#corp_news_list').append($li);
                var $div = $(`<div class="text-left font-weight-bold wk" style="font-size: 100%;"><i class="fas fa-square" style="margin-left: -20px; margin-right: 20px;"></i>${news_title}<a class="f-c4" style="margin-left:20px;font-size:13px;" href="${url}">원문보기</a></div>`)
                $li.append($div);
                var $div = $(`<div class="text-left wk ml-1 mt-2 mb-4" style="font-size: 90%; color: black;">${news_sentence}</div>`)
                $li.append($div);
                var $span = $(`<span class="r-border mx-1">${keyword1}</span><span class="r-border mx-1">${keyword2}</span><span class="r-border mx-1">${keyword3}</span><span class="r-border mx-1">${keyword4}</span><span class="r-border mx-1">${keyword5}</span><span class="r-border mx-1">${keyword6}</span><span class="r-border mx-1">${keyword7}</span><span class="r-border mx-1">${keyword8}</span><span class="r-border mx-1">${keyword9}</span><span class="r-border mx-1">${keyword10}</span>`)
                $li.append($span);
            }
          }

        },
        error: function(){
          console.log('fail')

          <!-- 채용 공고 -->
          $('#recruit_table').empty();
          var $tr = $(`<tr class="text-center"><td>해당 기업의 채용 정보를 확인할 수 없습니다</td></tr>`)
          $('#recruit_table').append($tr);

          <!-- 자소서 키워드 분석 -->
          $('#network_container').empty()
          $('#bar_container').empty()
          $('#cv_head').empty()
          var $p = $(`<p class="text-weight-bold">해당 기업에 대한 분석 결과를 불러올 수 없습니다</p>`)
          $('#cv_head').append($p)

          <!-- 뉴스 키워드 분석 -->
          $('#corp_news_list').empty();
          var $p = $(`<p class="text-weight-bold">해당 기업에 대한 분석 결과를 불러올 수 없습니다</p>`)
          $('#corp_news_list').append($p);
        }
    }); //ajax끝
  }



  function posting(jobposting_id){
    $('#hidden_jobposting_id').text(jobposting_id);
    $.ajax({
        url: '/company/recruits/',
        type: 'POST',
        data: {'jobposting_id': jobposting_id, 'csrfmiddlewaretoken':  csrftoken},
        dataType: 'json',
        success: function(context) {
          console.log('success')
          console.log(context)

          var modal_erase = document.getElementsByClassName("modal_erase")
          for (var i=modal_erase.length; i--;){
              modal_erase[i].textContent='';
          }

          $('#modal_joblist').empty()

          var jobposting_id = context.jobposting_id;
          var corp_nm = context.corp_nm;
          var posting_type = context.posting_type;
          var posting_detail = context.posting_detail;
          var job_num = context.job_num;

          $('#jobposting_title').text(`${corp_nm} 채용공고`)

          for (var i=0; i<job_num; i++){
            var $tr = $('<tr class="text-center">');
            $('#joblist_table').append($tr);

            var keys = Object.keys(context.jobs);
            var new_or_exp = context.jobs[keys[i]]['new_or_exp'];
            var job = context.jobs[keys[i]]['job'];
            var jobs_id = context.jobs[keys[i]]['jobs_id'];

            var $td = $(`<td style="width: 20%">${new_or_exp}</td>`);
            $tr.append($td);
            var $th = $(`<th class="text-left" style="width: 60%;">${job}</th>`);
            $tr.append($th);
            var $td = $(`<td class="bg-c4 pointer f-c0" style="width: 20%;" onclick="write_cvletter(${jobs_id})">자기소개서 쓰기</td>`);
            $tr.append($td);

            $('#modal_joblist').append($tr);
          }
          
          $('#modal_main').empty()

          if (posting_type == 'text'){
            $('#modal_main').html(`${posting_detail}`);
          } else{
            var src_num = context.src_num;
            var keys = Object.keys(context.src);
            for (var i=0; i<src_num; i++){
                var src = context.src[keys[i]];
                var $img = $(`<img src=${src} style="width:100%;">`);
                $('#modal_main').append($img);
            }
          }
 
        $('#recruit_modal').modal('show');

        },
        error: function(){
          console.log('fail')
        }
    }); //ajax끝


    $('#recruit_modal').modal('show');
  }


  function apply(url){
    window.open(url);
  }


  function close_modal(){
    $('#recruit_modal').modal('hide');
  }

  function write_cvletter(jobs_id){
    document.location = `/cvletter/write/${jobs_id}`;
  }

  
  function scrap(){
    var jobposting_id = $('#hidden_jobposting_id').text();
    console.log(jobposting_id);
    $.ajax({
        url: '/company/scrap/',
        type: 'POST',
        data: {'jobposting_id': jobposting_id, 'csrfmiddlewaretoken':  csrftoken},
        dataType: 'json',
        success: function(context) {
          console.log('scrap success');

          var scrap_chk = context.scrap_chk;
          if (scrap_chk == 1){
            alert('이미 스크랩한 채용공고입니다.');
          } else if( scrap_chk == 0){
            alert('해당 채용공고가 스크랩 되었습니다.');
          } else {
            alert(context);
          }

        },
        error: function(){
          alert('해당 채용공고를 스크랩 할 수 없습니다.')
          console.log('scrap fail');
        }
    }); //ajax끝

  }



  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }

  var csrftoken = getCookie('csrftoken');


</script>
</html>